<?xml version="1.0" encoding="ISO-8859-1" ?>
<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!--Example configuration-->
<configuration>
<!--    Flow is moving files from source to destination-->
    <flows>
        <!--    One flow - one thread for directory watch (separate sftp session)-->
        <flow>
            <!--    Number of concurrent file transfers in one flow
                    (2 separate scp sessions, one to source and one to destination)-->
            <executors>3</executors>
            <!-- Bandwidth limit for a flow, integer, in Mbps-->
            <bandwidth>100</bandwidth>
            <source>
                <host>127.0.0.1</host>
                <port>22</port>
                <user>smovefile</user>
                <identity>~/.ssh/smove_rsa</identity>
                <knownHosts>~/.ssh/known_hosts</knownHosts>
                <path>/tmp/source</path>
                <templates>
                    <template>(.*)\.xml</template>
                    <template>(.*)\.json</template>
                </templates>
            </source>
            <destination>
                <host>127.0.0.1</host>
                <port>22</port>
                <user>smovefile</user>
                <identity>~/.ssh/smove_rsa</identity>
                <knownHosts>~/.ssh/known_hosts</knownHosts>
                <path>/tmp/destination</path>
            </destination>
        </flow>
        <flow>
            <executors>1</executors>
            <bandwidth>5</bandwidth>
            <source>
                <host>127.0.0.1</host>
                <port>22</port>
                <user>smovefile</user>
                <identity>~/.ssh/smove_rsa</identity>
                <knownHosts>~/.ssh/known_hosts</knownHosts>
                <path>/tmp/newsource</path>
                <templates>
                    <template>(.*)\.xml</template>
                    <template>(.*)Secret(.*)\.jpg</template>
                </templates>
            </source>
            <destination>
                <host>127.0.0.1</host>
                <port>22</port>
                <user>smovefile</user>
                <identity>~/.ssh/smove_rsa</identity>
                <knownHosts>~/.ssh/known_hosts</knownHosts>
                <path>/tmp/newdestination</path>
            </destination>
        </flow>
    </flows>
</configuration>